<section class="py-12 lg:py-20 my-12 lg:my-20">
  <div class="mx-auto block max-w-7xl w-screen px-6 lg:px-12">
    <h2 id="examples" class="text-eh-white text-3xl lg:text-4xl font-bold mb-8">Examples</h2>
    <p class="mb-8 lg:mb-12 text-base lg:text-xl leading-loose">Below you can check out some examples of the color scheme being used in common languages.</p>
    <div class="border border-eh-yellow bg-eh-yellow bg-opacity-20 rounded-md p-4 text-eh-yellow mb-8">
      <p><span class="font-bold uppercase">Note:</span> The code examples below are using the <a href="https://prismjs.com/" class="font-bold underline">PrismJS</a> syntax highlighter. The actual syntax highlighting in your editor may look different.</p>
    </div>
    {% include "snippets/css.html" %}
    {% include "snippets/html.html" %}
    {% include "snippets/js.html" %}
    {% include "snippets/go.html" %}
    {% include "snippets/python.html" %}
    {% include "snippets/ruby.html" %}
    {% include "snippets/rust.html" %}
    {% include "snippets/markdown.html" %}
    {% include "snippets/ts.html" %}
    {% include "snippets/yaml.html" %}
</section>

