<header class="flex flex-col md:flex-row items-center md:justify-between py-4 px-6 lg:px-12 mx-auto w-full max-w-7xl space-y-6 md:space-y-0">
  <a href="/" class="flex items-center gap-6 text-eh-light-gray hover:text-eh-white">
    <img src="/static/img/logo.png" alt="logo" class="h-8 w-8 md:h-12 md:w-12"/>
    <h1 class="text-xl md:text-2xl font-medium">Electron Highlighter</h1>
  </a>
  <nav class="flex items-center gap-6">
    <a href="#palette" class="text-eh-light-gray hover:text-eh-white">Palette</a>
    <a href="#ports" class="text-eh-light-gray hover:text-eh-white">Ports</a>
    <a href="#examples" class="text-eh-light-gray hover:text-eh-white">Examples</a>
  </nav>
</header>
