<div class="border border-eh-dark-gray rounded-md mb-6">
  <header class="border-b border-eh-dark-gray mb-4 p-4 flex items-center">

    <h3 class="text-eh-light-gray text-base">JavaScript</h3>
  </header>
  <div class="p-4 w-full overflow-auto code-snippet">
{% highlight "js" %}
'use strict'
class Sale {
  constructor(price) {
    ;[this.decoratorsList, this.price] = [[], price]
  }

  decorate(decorator) {
    if (!Sale[decorator]) throw new Error(`decorator does not exist: ${decorator}`)
    this.decoratorsList.push(Sale[decorator])
  }

  static async remotePrice(price) {
    return await Promise.all([fetch(`/api/convert/${price}`)])
  }

  getPrice() {
    for (let decorator of this.decoratorsList) {
      this.price = decorator(this.price)
    }
    return this.price.toFixed(2)
  }

  static quebec(price) {
    // this is a comment
    return price + price * 7.5 / 100
  }

  static fedtax(price) {
    return price + price * 5 / 100
  }
}
{% endhighlight %}
  </div>
</div>

