---
layout: default
title: Electron Highlighter
path: home
---

<section class="mx-auto block max-w-7xl w-full px-6 lg:px-12">
    <p class="text-base lg:text-xl my-12 lg:my-20 max-w-3xl">Electron highlighter is a dark syntax theme based off of the iconic One Dark theme from Atom, with a more vibrant color palette.</p>
    <h2 id="palette" class="text-eh-white text-3xl lg:text-4xl font-bold mb-8">Palette</h2>
    <h3 class="text-2xl mb-6">Colors</h3>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        <div class="h-32 bg-eh-red rounded-lg p-2 flex items-end">
            <span class="bg-eh-light-black rounded-md px-2 py-1 text-eh-light-gray">#f7768e</span>
        </div>
        <div class="h-32 bg-eh-orange rounded-lg p-2 flex items-end">
            <span class="bg-eh-light-black rounded-md px-2 py-1 text-eh-light-gray">#ffbf7a</span>
        </div>
        <div class="h-32 bg-eh-yellow rounded-lg p-2 flex items-end">
            <span class="bg-eh-light-black rounded-md px-2 py-1 text-eh-light-gray">#fffa9e</span>
        </div>
        <div class="h-32 bg-eh-green rounded-lg p-2 flex items-end">
            <span class="bg-eh-light-black rounded-md px-2 py-1 text-eh-light-gray">#34febb</span>
        </div>
        <div class="h-32 bg-eh-cyan rounded-lg p-2 flex items-end">
            <span class="bg-eh-light-black rounded-md px-2 py-1 text-eh-light-gray">#4ff2f8</span>
        </div>
        <div class="h-32 bg-eh-blue rounded-lg p-2 flex items-end">
            <span class="bg-eh-light-black rounded-md px-2 py-1 text-eh-light-gray">#82aaff</span>
        </div>
        <div class="h-32 bg-eh-purple rounded-lg p-2 flex items-end">
            <span class="bg-eh-light-black rounded-md px-2 py-1 text-eh-light-gray">#c792ea</span>
        </div>
    </div>
    <h3 class="text-2xl mt-12 mb-6">Grays</h3>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        <div class="h-32 bg-eh-black rounded-lg p-2 flex items-end border border-eh-dark-gray">
            <span class="bg-eh-light-black rounded-md px-2 py-1 text-eh-light-gray">#141820</span>
        </div>
        <div class="h-32 bg-eh-light-black rounded-lg p-2 flex items-end">
            <span class="bg-eh-light-black rounded-md px-2 py-1 text-eh-light-gray">#24283B</span>
        </div>
        <div class="h-32 bg-eh-dark-gray rounded-lg p-2 flex items-end">
            <span class="bg-eh-light-black rounded-md px-2 py-1 text-eh-light-gray">#506686</span>
        </div>
        <div class="h-32 bg-eh-gray rounded-lg p-2 flex items-end">
            <span class="bg-eh-light-black rounded-md px-2 py-1 text-eh-light-gray">#7c8eac</span>
        </div>
        <div class="h-32 bg-eh-light-gray rounded-lg p-2 flex items-end">
            <span class="bg-eh-light-black rounded-md px-2 py-1 text-eh-light-gray">#a8b5d1</span>
        </div>
        <div class="h-32 bg-eh-white rounded-lg p-2 flex items-end">
            <span class="bg-eh-light-black rounded-md px-2 py-1 text-eh-light-gray">#c5cee0</span>
        </div>
    </div>
</section>

{% include "ports.html" %}
{% include "examples.html" %}
